<div class="container">

  <p class="title">Empleados</p>

  <div *ngIf="showEditView">
    <p class="subtitle">Editar empleado</p>
  </div>
  <div *ngIf="!showEditView">
    <p class="subtitle">Datos del empleado</p>
  </div>

  <!-- Form Add usuario -->
  <mat-card class="example-card">
    <mat-card-content class="card">
      <div fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly start">
          <label>BRM</label>
          <input (change)="setBrm($event)" [(ngModel)]="showEditView ? userEdit.brm : user.brm" type="number" class="form-control" placeholder="BRM" aria-label="brm" aria-describedby="basic-addon1">
        </div>
        <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly start">
          <label>Nombre</label>
          <input (change)="setName($event)" [(ngModel)]="showEditView ? userEdit.nombre : user.nombre" type="text" class="form-control" placeholder="Nombre" aria-label="nombre" aria-describedby="basic-addon1">
        </div>
        <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly start">
          <label>Puesto</label>
          <select (change)="setPuesto($event)" [(ngModel)]="showEditView ? userEdit.puesto : user.puesto" class="form-select" aria-label="Default select example">
            <option selected>Selecciona un puesto</option>
            <option value="Programador Jr">Programador Jr</option>
            <option value="Programador Sr">Programador Sr</option>
          </select>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-evenly center">

        <div fxFlex="30">
          <div *ngIf="showEditView">
            <button class="default" (click)="showEdit(false)" >Cancelar</button>
            <button class="orange" (click)="updateUser(userEdit)">Guardar</button>
          </div>
          <div *ngIf="!showEditView">
            <button [disabled]="loading" type="button" class="orange" (click)="addUser()">Agregar</button>
          </div>
        </div>

        <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="start start">
            <label>Imagen de perfil</label>
            <input class="input-file" (change)="showEditView ? setImgEdit($event) : setImg($event)" type="file">
          </div>
        </div>

        <div fxFlex="30">
          <div *ngIf="!showEditView">
            <div *ngIf="base64 !== ''">
              <img [src]="base64" class="img-add" alt="...">
            </div>
          </div>
          <div *ngIf="showEditView">
            <img [src]="userEdit.base64" class="img-add" alt="...">
          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

  <!-- Tabla-->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="brm">
        <th mat-header-cell *matHeaderCellDef> BRM </th>
        <td mat-cell *matCellDef="let element"> {{element.brm}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="puesto">
        <th mat-header-cell *matHeaderCellDef> Puesto </th>
        <td mat-cell *matCellDef="let element"> {{element.puesto}} </td>
      </ng-container>
  
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let element">{{element.img}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button id="showEditBtn" type="button" (click)="setEditUser(element)" class="default">
                Editar
            </button>
            <button type="button" class="orange" (click)="deleteUser(element.id)">
                Eliminar
            </button>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>

</div>

<nx-alert></nx-alert>
<nx-confirm-dialog></nx-confirm-dialog>