table {
  width: 90%;
  margin: 0 auto;
}
.img-add{
  height: auto;
  width: 8rem;
}
.title{
  margin: 2rem;
  color: #85929E;
  font-weight: 400;
  font-size: 4rem;
}
.subtitle{
  margin: 0 0 0 2rem;
  color: #85929E;
  font-weight: 200;
  font-size: 1.5rem;
}
.card{
  border-radius: 1rem;
  border: #85929E solid 0.3px;
  padding: 1rem;
}

.input-file{
  width: 100%;
}