<div class="container-menu">
    <button class="dark" (click)="logOut()">Salir</button>
    <router-outlet></router-outlet>
</div>
<nx-menu [favsItems]="leftContent"  title="Menu principal">
</nx-menu>
