<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <h5>Usuario</h5>
  <input [(ngModel)]="user.username" type="text" class="form-control" id="formInput1" placeholder="Usuario">
  <h5>Contraseña</h5>
  <input [(ngModel)]="user.password" type="password" class="form-control" id="formInput2" placeholder="Contraseña">
  <button (click)="login()" type="button" class="orange">Iniciar sesión</button>
</div>
